################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DiscuzX.Net/.vs/Server
/.vs/DiscuzX.Net/v16
/DiscuzX.Net/bin/Debug/netcoreapp3.1
/DiscuzX.Net/obj
/DiscuzX.Net/DiscuzX.Net.csproj.user
/obj/Docker
/upload/bin/Debug/netstandard2.1
/upload/obj
